
*.pbxproj

CRMManager.xcodeproj/project.xcworkspace/xcuserdata/apple.xcuserdatad/UserInterfaceState.xcuserstate

CRMManager.xcodeproj/project.xcworkspace/xcuserdata/joseph.xcuserdatad/UserInterfaceState.xcuserstate

CRMManager.xcodeproj/project.xcworkspace/xcuserdata/apple.xcuserdatad/WorkspaceSettings.xcsettings
